*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #eef0f0;
    color: #8c8c8c;
    direction: ltr;
}

p {
    line-height: 1.5s;
    margin: 30px 0;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

a {
    color: #333333;
}

a:hover,
a:focus {
    color: #0085A1;
}

a img:hover,
a img:focus {
    cursor: zoom-in;
}

blockquote {
    color: #777777;
    font-style: italic;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    font-family: 'Lato', sans-serif;
}

.navbar-custom .navbar-brand {
    font-weight: 800;
}

.navbar-custom .navbar-header .navbar-toggle {
    color: #777777;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a {
        color: white;
        padding: 20px;
    }
    .navbar-custom .nav li a:hover,
    .navbarcustom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color 0.3s;
        -moz-transition: backgroung-color 0.3s;
        transition: background-color 0.3s;
        /* Forced acceleration through webkit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed {
        /*when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #333333;
    }
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085A1;
    }
    .navbar-custom.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.intro-header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width:768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150ps 0;
    }
}

.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.5;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.5;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-header .post-heading .meta {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.intro-header .post-heading .meta a {
    color: white;
}

@media only screen and (min-width:768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}

.post-preview>a {
    color: #333333;
}

.post-preview>a:hover,
.post-preview>a:focus {
    text-decoration: none;
    color: #0085A1;
}

.post-preview>a>.post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview>a>.post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}

.post-preview>.post-meta {
    color: #777777;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.post-preview>.post-meta>a {
    text-decoration: none;
    color: #333333;
}

.post-preview>.post-meta>a:hover,
.post-preview>.post-meta>a:focus {
    color: #0085A1;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .post-preview>a>.post-title {
        font-size: 36px;
    }
}

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


/*--Footer --*/

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.76em;
    /*vertical-align: middle;*/
    /*vertical-align: baseline;*/
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #0085A1;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

.btn {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 5px 10px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #0085A1;
    border: 1px solid #0085A1;
    color: white;
}

.pager {
    margin: 20px 0 0;
}

.pager li>a,
.pager li>span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0;
}

.pager li>a:hover,
.pager li>a:focus {
    color: white;
    background-color: #0085A1;
    border: 1px solid #0085A1;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #777777;
    background-color: #333333;
    cursor: not-allowed;
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: #0085A1;
}

::selection {
    color: white;
    text-shadow: none;
    background: #0085A1;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #0085A1;
}


/*--Archive CSS ---*/

.headernav {
    height: 70px;
    border-bottom: 1px solid #c9cccd;
}

.content {
    background-color: white;
    border-top: solid 1px #e0e4e5;
}

.selecttopic {
    line-height: 69px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #333333;
}

.selecttopic select {
    border: none;
}

.selecttopic .dropdown-menu {
    margin-top: -20px;
}

.headernav .search {
    color: #333333;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin-top: 16px;
    height: 38px
}

.headernav .search .wrap {
    background-color: #f3f5f9;
    border-radius: 3px;
}

.headernav .search .txt {
    width: 85%;
}

.headernav .search input {
    border: none;
    box-shadow: none;
    background-color: #f3f5f9;
    color: #333333;
    font-size: 16px;
    padding: 8px 19px;
    height: 38px;
}

.headernav .search button {
    border: solid 1px #697683;
    box-shadow: none;
    background-color: #697683;
    color: #ffffff;
    font-size: 18px;
}


/*--- Avatar CSS --*/

.avt {
    margin-top: 16px;
    height: 38px;
}

.avt button {
    height: 38px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0085A1;
}

.avt .btn-primary:hover,
.avt .btn-primary:focus,
.avt .btn-primary:active,
.avt .btn-primary:focus {
    background-color: #0085A1;
    border: none;
    box-shadow: none;
}

.env {
    font-size: 18px;
    color: #cfd5d7;
    line-height: 38px;
    padding: 0 20px;
}

.avatar {
    position: relative;
}

.avatar img {
    border-radius: 50%;
}

.avatar .status {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}

.dropdown.avatar .status {
    right: 14px;
}

.caretl {
    color: #333333;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
}

.avatar .green {
    background-color: #80d3ab;
}

.avatar .red {
    background-color: #f27777;
}

.avatar .yellow {
    background-color: #ecd346;
}


/*-------Content--------------*/


/*--- Pagination----*/

.paginationforum li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.paginationforum li a {
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.paginationforum li a.active,
.paginationforum li a:hover,
.paginationforum li a:focus,
.paginationforum li a:active {
    color: #0085A1;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.paginationforum {
    margin: 19px auto;
    padding: 0;
}

.prevnext {
    font-size: 26px;
    color: #cfd5d7;
    margin-top: 11px;
    display: block;
}

.prevnext .last {
    margin-left: 20px;
}


/*--- Contact Form html ---*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
    color: #bbb5af;
}


/* on hover */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #cbc6c1;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover:focus::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}


/*#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}*/

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input {
    font-family: 'Raleway', sans-serif;
    /*font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;*/
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #b3aca7;
    color: #e2dedb;
}

textarea {
    /*width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;*/
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    /*width: 470px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;*/
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #0085A1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #00aacc;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

#submit:hover {
    color: #e2dedb;
}
select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label .light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #00aacc;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width:480px) {
    form {
        max-width: 480px;
    }
}


/*--- Sidebar ----*/

.sidebarblock {
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3 {
    color: #333333;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 20px;
}

.sidebarblock .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #d9d9d9;
}

.sidebarblock .blocktxt {
    padding: 20px;
}

ul.categories li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

ul.categories {
    margin: 0;
    padding: 0;
}

ul.categories li a {
    font-size: 14px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
}

ul.categories .badge {
    background-color: #333333;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin-top: 7px;
}

.sidebarblock .blocktxt {
    font-size: 14px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

.sidebarblock .blocktxt .smal {
    font-size: 12px;
}


/*---Post---*/

.post {
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.post .wrap-ut {
    width: 85%;
}

.post .userinfo {
    width: 15%;
    padding: 20px 0 15px 15px;
}

.post .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px
}

.post .postinfo {
    width: 15%;
    border-left: solid 1px #f1f1f1;
}

.post .avatar {
    width: 37px;
    margin-left: 5px;
}

.post .icons {
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
}

.post h2 {
    color: #333333;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments {
    border-bottom: solid 1px #f1f1f1;
    padding: 18px 0 25px 0;
    text-align: center;
}

.post .comments .commentbg {
    background-color: #bdc3c7;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #bdc3c7;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.post .views {
    border-bottom: solid 1px #f1f1f1;
    color: #9da6aa;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 29px;
}

.post .views i {
    font-size: 14px;
}

.post .time {
    color: #9da6aa;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 29px;
}

.post .time i {
    font-size: 14px;
}

@media (max-width: 767px) {
    /*--- Extra small devices (less 767px) ---*/
    /*--- index.html ---*/
    .container-fluid {
        padding: 0;
    }
    .post .userinfo {
        width: 30%;
        padding: 15px 0 15px 15px;
    }
    .post .posttext {
        width: 70%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }
    .post .views i {
        display: block;
        margin-top: 5px;
    }
    .post .comments .commentbg .mark {
        left: 36%;
    }
    .post .time,
    .post .views,
    .post .views {}
    .headernav {
        height: auto;
    }
    .avt {
        height: auto;
        margin-bottom: 15px;
    }
    .selecttopic select {
        width: 100%;
    }
    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }
    .selecttopic .dropdown-menu {
        margin-top: -20px;
    }
    .dropdown.avatar .status {
        right: 14px;
    }
    .dropdown.avatar b.caret {
        color: #363838;
    }
}